<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstonegyg.gyg">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity 
            android:name=".UI.Authentication.AuthenticationActivity"
            android:screenOrientation="portrait">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>

        <activity 
            android:name=".UI.Profile.ProfileActivity"
            android:label="@string/profile_header"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity 
            android:name=".UI.Profile.GeneralProfileActivity"
            android:label="@string/user_profile"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <activity 
            android:name=".UI.Home.HomeActivity" 
            android:screenOrientation="portrait"/>

        <activity 
            android:name=".UI.ViewGygScreen.ViewGyg.ViewGygActivity"
            android:screenOrientation="portrait" />

        <activity 
            android:name=".UI.PostGyg.PostGygActivity"
            android:screenOrientation="portrait" />

        <activity 
            android:name=".UI.MyGygs.MyGygsActivity"
            android:screenOrientation="portrait"/>

        <activity 
            android:name=".StartScreen"
            android:screenOrientation="portrait" />

        <activity 
            android:name=".UI.ViewGygScreen.ViewDetailedGyg.ViewDetailedGygActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".UI.Profile.Settings"
            android:label="@string/profile_settings"
            android:parentActivityName=".UI.Profile.ProfileActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Profile.ProfileActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>


</manifest>